*{
    font-family: 'Lato', sans-serif;
}
.nav-wrapper {
    padding-left: 70px;
    padding-right: 70px;
}
.item-1 {
    margin-right: 80px;
}
nav {
    box-shadow: 0px 0px 0px white;
}
.main {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 70px;
    display: flex;
}
@media (max-width: 600px) {
    .main {
        height: 400px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.img1 {
    height: 300px;
}
.card {
    box-shadow: 0px 0px 0px white;
}
.card .card-content {
    padding: 0;
}
.input-field {
    display: flex;
}
.material-icons {
    margin-left: -20px;
}
.r1 {
    width: 350px;
    padding-bottom: 30px;
}
.block {
    background-color: rgb(236, 236, 236);
}
.block h5 {
    padding-top: 50px;
}
button {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 150px;
}
.par {
    font-size: 18px;
    margin-top: 150px;
}
.page-footer {
    background-color: white;
}
.footer-copyright {
    font-weight: bold;
    height: 70px;
}
.footer-copyright img {
    margin-left: 10px;
}